*{
    background-color: rgb(47, 47, 124);
    margin: 0;
    padding: 0;
    color: white;
    font-size: 20PX;
}
form{
    margin:100px 200px;
    border: 2px solid white;
    width: 900px;
    height: 400px;
    text-align: center  ;
    padding-top: 50px;
}
input{
    margin-right: 5px;
}
.inp{
    background-color: wheat;
    width: 300px;
    height: 25px;
    border-radius: 3px;
    border: none;
    margin-top: 20px;
    margin-left: 10px;
}
.inp2{
    margin-left: 15px;
}
select{
    background-color: wheat;
    width: 200px;
    height: 25px;
    border-radius: 3px;
    border: none;
    margin-top: 20px;
    margin-left: 10px;
    color: black;
}
.selek1{
    margin-left: 23px;
}
.sel2{
    width: 130px;
}
.radio1{
    margin-left: 20px;
}
#num1,#num2{
    background-color: wheat;
    width: 50px;
    height: 25px;
    border-radius: 3px;
    border: none;   
    margin-top: 20px;
    margin-left: 10px;
    color: black;
}
.num1{
    margin-left: -23px;
}
.email1{
    margin-left: -95px;
}
p{
 margin-right: 700px; 
 margin-top: -60px;
}
